html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #eeeeee;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  background: #eeeeee;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  color: #AEB3BB;
}

.container {
  display: flex;
  flex-direction: column;
  width: 35%;
  background: #ffffff;
  border-radius: 16px;
  padding: 80px 160px;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.minus {
  width: 8px;
  height: 1px;
  background: #dddfe2;
  margin: 0 4px;
}

.red {
    color: #F34949;
}

.blue {
    color: #2E85FF;
}
